@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-brown: #5f3f24;
  --primary-brown-dark: #411d01;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-brown: var(--primary-brown);
  --color-primary-brown-dark: var(--primary-brown-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



.padding{
  @apply px-6 sm:px-12 md:px-24 lg:px-32 xl:px-48
}