@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-primary: #604025;
  --color-body: #000000;
  --color-primary-pink: #c87477;
  --color-secondary-pink: #eb898c;

  --font-montserrat: var(--font-montserrat);
  --font-cormorant: var(--font-cormorant);
  --font-nunito: var(--font-nunito);
  --text-2xs: 10px;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-pink: var(--color-primary-pink);
  --color-secondary-pink: var(--color-secondary-pink);
  --breakpoint-custom-lg: 850px;
  --text-2xs: var(--text-2xs);
  --breakpoint-custom-xl: 950px;
}

body {
  font-family: var(--font-nunito);
  font-weight: normal;
}

.padding {
  @apply px-6 sm:px-12 md:px-14 lg:px-20 2xl:px-40;
}

.nav {
  @apply text-primary;
  font-family: var(--font-montserrat);
}

.tagline {
  @apply font-bold italic text-primary;
  font-family: var(--font-cormorant);
}

.heading {
  @apply text-black text-xl md:text-2xl lg:text-3xl font-semibold;
  font-family: var(--font-nunito);
}

.subheading {
  @apply font-normal italic text-primary text-lg md:text-xl lg:text-2xl;
  font-family: var(--font-cormorant);
}

.range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: none;
}

/* WebKit (Chrome, Edge, Safari) */
.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: black;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
}

/* Firefox */
.range-thumb::-moz-range-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  background: black;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

/* for product skeleton */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.image {
  @apply mx-auto block;
  width: max-content;
}

.image.image-style-block-align-left {
  @apply mr-auto ml-0;
}

.image.image-style-block-align-right {
  @apply ml-auto mr-0;
}

.image.image-style-block-align-center {
  @apply mx-auto;
}

.image.image-style-align-left {
  @apply float-left mr-4 mb-2;
}

.image.image-style-align-right {
  @apply float-right ml-4 mb-2;
}

.image.image-style-side {
  @apply float-right ml-4 mb-2;
}