@import "tailwindcss";

:root {
  --color-primary: #604025;
  --color-body: #000000;
  --color-primary-pink: #c87477;

  --font-montserrat: var(--font-montserrat);
  --font-cormorant: var(--font-cormorant);
  --font-nunito: var(--font-nunito);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-pink: var(--color-primary-pink);

  --breakpoint-custom-lg: 850px;
}

body {
  font-family: var(--font-nunito);
  font-weight: normal;
}

.padding {
  @apply px-6 sm:px-12 md:px-24 lg:px-32 xl:px-48;
}

.nav {
  @apply text-primary;
  font-family: var(--font-montserrat);
}

.tagline {
  @apply font-bold italic text-primary;
  font-family: var(--font-cormorant);
}

.heading {
  @apply font-semibold text-primary text-3xl md:text-4xl lg:text-5xl;
  font-family: var(--font-nunito);
}

.subheading {
  @apply font-normal italic text-primary text-lg md:text-xl lg:text-2xl;
  font-family: var(--font-cormorant);
}

.range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: none;
  position: relative;
}

/* WebKit (Chrome, Edge, Safari) */
.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
}

/* Firefox */
.range-thumb::-moz-range-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
}