@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dosis: var(--font-geist-dosis);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-dosis);
}

.header-nav {
  @apply relative uppercase font-normal;
}

.header-nav::after {
  content: "";
  display: block;
  height: 1px;
  margin: 0.25rem auto 0 auto;
  width: 0;
  transition: width 0.3s ease-in;
}
.nav-light::after {
  background-color: black;
}
.nav-dark::after {
  background-color: white;
}

.header-nav:hover::after {
  width: 50%;
}

.header-nav.active {
  @apply font-medium;
}

.header-nav.active::after {
  width: 50%;
}
